.image-upload-form-box,
.image-description,
.image-tags {
    display: flex;
    flex-direction: column;
    padding: 10px;
    // width: 100%;
}

.image-upload-form-box {
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    max-width: 300px !important;
    min-height: 530px;
    background: rgb(37, 37, 37);
    color: white;
}

.image-description {
    margin-top: 5px;
}

.image-upload-title,
.image-upload-reminder {
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-upload-reminder {
    font-size: 15px;
    color: red;
    padding: 0;
}

.image-preview {
    margin: 10px 0 5px 0;
}

.image-preview > img {
    max-height: 250px;
    max-width: 250px;
}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

#closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#closebtn:hover {
  color: black;
}
