@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.image-upload-form-box,
.image-description,
.image-tags {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    // width: 100%;
}

.image-upload-form-box {
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 1%;
    background: rgb(37, 37, 37);
    color: white;
}

.image-description {
    margin-top: 5px;
}

.image-upload-title,
.image-upload-reminder {
    font-size: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-upload-reminder {
    font-size: 15px;
    color: red;
    padding: 0;
}

.image-preview {
    margin: 10px 0 5px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.image-preview > img {
    width: 100%;
}


.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

#closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

#closebtn:hover {
  color: black;
}

.submit-button {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 10px;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: none;
    width: 100%;
}

.submit-button:hover {
    background-color: #daa520;
    cursor: pointer;
}

.input-file {
    margin: 10px 5px 10px 5px;
}