.main-page {
    display: flex;
}

.left-side {
    display: block;
    background: orange;
    height: 500px;
    width: 200px;
}

.google-maps-container {
    display: block;
    margin-left: 50px;
}