@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main-page {
    display: flex;
    // margin-top: 20px;
}

.left-side {
    display: block;
    background: orange;
    height: 500px;
    width: 200px;
}

.google-maps {
    width: 100%;
}

.google-maps-container {
    display: block;
    margin-left: 50px;
}

.google-api-map {
    height: 87% !important;
    width: 69.7% !important;
    position: absolute;
    top: 123px;
    left: 30%;
    border: 3px solid black;
}

.google-api-map-upload,
.google-api-map-edit {
    height: 92.5% !important;
    width: 75% !important;
    border: 3px solid black;
}

.google-api-map:active,
.google-api-map-upload:active,
.google-api-map-edit:active {
    border: 3px solid green;
}

.google-maps-images-container {
    display: flex !important;
}

.image-upload-form-container { 
    position: absolute;
    overflow: auto;
    top: 67px;
    right: 0;
    bottom: 0;
    left: 75%;
}

.splash-container {
    background-image: url(../images/timo-wielink-4Zk45jNyQS4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}

.search-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 67px;
    right: 0;
    left: 30%;
    height: 50px;
    // width: 69.7% !important;
}

.search-bar-input {
    border: 2px solid black;
    font-size: 20px;
    height: 50px;
    width: 100%;
}

.search-button {
    height: 60px;
    width: 100px;
    background-color: #daa520;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    cursor: pointer;
}