@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.main-page {
    display: flex;
    // margin-top: 20px;
}

.left-side {
    display: block;
    background: orange;
    height: 500px;
    width: 200px;
}

.google-maps {
    width: 100%;
}

.google-maps-container {
    display: block;
    margin-left: 50px;
}

.google-api-map {
    height: 90% !important;
    width: 69.7% !important;
    position: absolute;
    top: 110px;
    left: 30%;
    border: 3px solid black;
}

.google-api-map-upload,
.google-api-map-edit {
    height: 92.5% !important;
    width: 75% !important;
    border: 3px solid black;
}

// .google-api-map:active,
// .google-api-map-upload:active,
// .google-api-map-edit:active {
//     // border: 3px solid green;
// }

.google-maps-images-container {
    display: flex !important;
    flex-direction: column;
}

.image-upload-form-container { 
    position: absolute;
    overflow: auto;
    top: 64px;
    right: 0;
    bottom: 0;
    left: 74.5%;
}

.splash-container {
    background-image: url(../images/timo-wielink-4Zk45jNyQS4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}



.search-bar {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 64px;
    right: 0;
    left: 30%;
    height: 50px;
    background:#252525;
    color: #252525;
    background-color: #252525;
    border: 1px solid black;
}

.search-bar-input {
    border: none;
    font-size: 16.5px;
    height: 100%;
    width: 100%;
    text-indent: 15px;
    color: rgb(125, 125, 125);
    background-color: #252525;
}

.search-button {
    font-size: 19px;
    height: 43px;
    width: 100px;
    border: none;
    color: rgb(125, 125, 125);
    background: #252525;
    border-left: 1px solid rgb(125, 125, 125);
}

.search-button:hover {
    cursor: pointer;
    color: white;
}

.search-bar-input:focus {
    background: white;
    color: black;
}

.search-bar-input:focus + .search-button {
    background: white;
}

.search-bar-input:hover {
    background: white;
    color: black;
}

.search-bar-input:focus + .search-button:hover {
    color: black;
}

.search-bar-input:hover + .search-button {
    background: white;
}

@media screen and (max-height: 550px) {
    .google-api-map {
        height: 80% !important;
    }
}