@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.logo-title {
    font-family: 'Courgette', cursive;
    font-size: 40px;
    padding: 12px 10px 10px 0;
    margin-top: 1px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.logo-title:hover {
    color: white;
}

.logo-section {
    display: flex;
}

.nav-bar {
    display: flex;
    background-color: #daa520;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.welcome {
    font-family: 'Courgette', cursive;
    font-size: 27px;
    margin-right: 15px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.navbar-login,
.navbar-signup,
.logout-btn,
.navbar-upload-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background: none;
    padding: 10px;
    // margin: 10px 10px;
    width: 100%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.navbar-login:hover,
.navbar-signup:hover {
    border: 1px solid white;
    color: white;
}

.logout-btn:hover,
.navbar-upload-btn:hover {
    background-color: #daa520;
    font-weight: 700;
    cursor: pointer;
}

.logout-btn:hover {
    border-radius: 0 0 5px 5px;
}

.navbar-upload-btn:hover {
    border-radius: 5px 5px 0 0;
}

.logout-btn, .navbar-signup {
    margin-right: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    left: 20px;
    text-align: center;
}

.dropdown-content div {
    display: flex;
    // flex-direction: column-reverse;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    // display: block;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
}

.dropdown-content div:first-child {
    font-weight: bold;
    background-color: #ddd;
    border-radius: 3px 3px 0 0;
}

.dropdown-content div:hover {
    background-color: #ddd;
    border-radius: 3px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.global-window-devs {
    font-size: 24px;
    color: black;
}

.social-btns {
    justify-content: space-evenly;
}

.fa-github-square {
    font-size: 30px;
    margin-right: 5px;
}

.fa-linkedin {
    color: rgb(83, 139, 160);
    font-size: 30px;
}

.fa-github-square:hover, .fa-linkedin:hover {
    color: blue;
}

.fa-globe {
    font-size: 40px;
    padding: 12px 10px 10px 20px;
    margin-top: 1px;
}

.fa-globe:hover {
    color: white;
}

.dropdown-user-button {
    font-size: 30px;
    background: none;
    border: none;
    padding: 5px 20px 5px 5px;
}

.dropdown-user-button:hover {
    color: white;
    cursor: pointer;
}

.dropdown-user {
    position: relative;
    display: inline-block;
}

.dropdown-content-user {
    display: none;
    position: absolute;
    min-width: 250px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 10px;
}

.show {
    display: block;
}