@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.login-form-container, .signup-form-container {
    background-image: url(../images/jenny-pace-WERfZVEnPfA-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    // margin: auto;
    // padding: 5px;
    // width: 45%;
}

.login-form, .signup-form {
    height: 300px;
    width: 300px;
    // border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    padding: 50px;
}

@keyframes shake {
  0% { transform: skewX(-15deg); }
  5% { transform: skewX(15deg); }
  10% { transform: skewX(-15deg); }
  15% { transform: skewX(15deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

.errors-list {
    text-align: left;
    list-style: none;
    color: red;
    animation: .5s shake infinite;
    animation-iteration-count: 3;
    font-size: 14px;
    margin-top: 10px;
}

.modal-header {
    font-size: 22px;
    margin-bottom: 10px;
    font: bolder;
}

.login-username, 
.login-password, 
.signup-username, 
.signup-password, 
.signup-password2 {
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    background: transparent;
    padding: 5px;
}

.login-username:hover, 
.login-password:hover, 
.signup-username:hover, 
.signup-password:hover, 
.signup-password2:hover {
    border: 1px solid burlywood;
    background: white;
}

.login-username::placeholder, 
.login-password::placeholder, 
.signup-username::placeholder, 
.signup-password::placeholder, 
.signup-password2::placeholder {
    font-size: 20px;
    color: black;
}

.close-x {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
    font-size: 18px;
}

.close-x:hover, .session-btn:hover, .other-form:hover {
    cursor: pointer;
}

.session-btn {
    border-radius: 5px;
    border: 1px solid burlywood;
    outline: none;
    padding: 6px 12px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.session-btn:hover {
    background: lightblue;
}

.session-btn:active {
    background: green;
}

.other-form {
    border: none;
    outline: none;
    color: green;
    background: transparent;
    font-size: 16px;
}

.other-form:hover {
    color: blue;
}