.sidebar-header {
    background: orange;
}

.sidebar-content-container {
    display: block;
    background: burlywood;
    height: 520px;
    width: 250px;
    border: 3px solid black;
    border-radius: 5px;
}

.sidebar-content-container:active {
    border: 3px solid green;
    cursor: pointer;
}

.sidebar-img-item {
    max-width: 100px;
    max-height: 100px; 
}