@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.sidebar-content-container {
    position: absolute;
    display: block;
    background: #252525;
    border-top: 1px solid black;
    overflow: scroll;
    overflow-x: hidden;
    color: white;
    top: 64px;
    right: 70%;
    bottom: 50px;
    left: 0;
    min-width: 200px !important;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sidebar-content-container:active {
    cursor: pointer;
}

.sidebar-item {
    border: 1px solid black;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.sidebar-item:hover {
    background-color: white;
    color: black;
}

.sidebar-img-item {
    width: 90%;
    margin: 20px 25px 20px 20px;
}

.sidebar-item-description {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.sidebar-item-other-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar-username {
    font-size: 18px;
    color: #daa520;
    margin-bottom: 13px;
}

.sidebar-item-timestamp {
    color: rgb(100, 100, 100);
    font-size: 16px;
    margin-bottom: 3px;
}

.sidebar-item-actions {
    display: flex;
    justify-content: space-around;
    padding: 0 10px 11px 10px;
}

.item-favorites {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
}

.fa-trash-alt,
.fa-edit,
.fa-map-marker-alt {
    font-size: 25px;
    margin-right: 15px;
}

.fa-trash-alt:hover {
    cursor: pointer;
    color: red;
}

.fa-edit:hover {
    cursor: pointer;
    color: blue;
}

.fa-map-marker-alt:hover {
    cursor: pointer;
    color: green;
}

.fa-heart {
    font-size: 25px;
    padding-right: 10px;
}

.fa-heart:hover {
    color: pink;
    cursor: pointer;
}

.favorite-like {
    color: pink;
}

.numFavorites {
    padding-top: 3px;
}

.sidebar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    min-width: 200px !important;
    right: 70%;
    background-color: #252525;
}

.next-btn, .prev-btn, .all-results {
    font-size: 22px;
    width: 50%;
    background-color: #252525;
    border: none;
    color: rgb(100, 100, 100); 
}

.next-btn:hover, .prev-btn:hover {
    color: white;
}

.sidebar-username {
    // padding: 10px 10px 0 10px;
    // margin: 0 0 0 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
    // text-align: center;
    font-size: 20px;
    color: #daa520;
}

.filter-action {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color: #252525;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    min-width: 200px !important;
    height: 50px;
    left: 0;
    right: 70%;
}

.filter-action > label {
    padding: 13px 10px 5px 5px;
    font-size: 22px;
}

.dropdown-filter-button {
    font-size: 20px;
    background: none;
    border: none;
    color: white;
}

.dropdown-filter-button:hover {
    color: #daa520;
    cursor: pointer;
}

.dropdown-filter {
    position: relative;
    display: inline-block;
    padding: 10px 5px 5px 5px;
}

.dropdown-content-filter {
    display: none;
    position: absolute;
    // right: 10px;
    min-width: 250px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.show {
    display: block;
}

.filter-item {
    width: 100%;
    background: none;
    border: none;
    font-size: 20px;
    padding: 10px;
}

.filter-item:hover {
    background-color: #ddd;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar-item-tags {
    padding: 10px;
    color: burlywood;
}

@media screen and (max-height: 550px) {
    .sidebar-img-item {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-height: 350px;
        width: auto;
        object-fit: cover;
    }
}