.sidebar-header {
    background: orange;
}

.sidebar-content-container {
    display: block;
    background: red;
    height: 520px;
    border: 5px solid lightblue;
}

.sidebar-content-container:active {
    border: 5px solid green;
    cursor: pointer;
}